<nav class="navbar navbar-dark navbar-expand-lg bg-dark border border-info border-top-0 border-left-0 border-right-0 ">
    <a class="navbar-brand" href="#">BlockHack</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="showNavigationOnSmall = !showNavigationOnSmall">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse d-none d-md-block" [ngClass]="{ 'd-none': !showNavigationOnSmall }" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/i/create']">new shipping</a>
        </li>
      </ul>

      <a [routerLink]="['/dashboard']" *ngIf="user" class="navbar-user mr-2 d-flex flex-row">
          <span class="text-light mr-2" style="line-height: 40px;">{{user.username}}</span>
          <div class="imfuc-user-image-container">
            <img src="{{ user.image | base64img }}" />
          </div>
        </a>


      <button *ngIf="!user" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="login()">login</button>
    </div>
  </nav>

<div class="container">
  <div class="row">
    <div class="col">
<router-outlet></router-outlet>
    </div>
</div>
