


<div class="row app-loading">
  <div class="col-4 progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Lade Daten</div>
  </div>
</div>

<div [hidden]="!showGroups">
  <h1>Produktgruppe auswählen</h1>

  <div class="selector">
    <ul class="list-group">
      <li class="list-group-item" 
          [ngClass]="{ 'bg-info': group.selected == 2 }"
          *ngFor="let group of productGroups" 
          (click)="selectGroup(group)">{{ group.value }}</li>
    </ul>
  </div>
</div>

<div [hidden]="!showSlots">
  <h1>Zeit auswählen</h1>

  <div class="selector">
    <ul class="list-group">
      <li class="list-group-item" 
          [ngClass]="{ 'bg-warning': slot.selected == 1, 'bg-info': slot.selected == 2 }"
          *ngFor="let slot of slots" 
          (click)="selectSlot(slot)">{{ slot.start | date: 'dd.MM HH:mm' }} ({{slot.selected}})</li>
    </ul>
  </div>
</div>

<div [hidden]="!showSummary">
  <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-3">Absenden</button>
</div>

