.app-login-backdrop {
    background: #e9eaeb;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .app-login-container {
        width: 450px;
        z-index: 100;
        display: block;
        background: white;
        box-shadow: #787878 0 0 5px;

        .app-login-container-header {
            img {
                min-width: 100%;
                max-width: 100%;
            }
        }

        .app-login-container-body {
            line-height: 30px;

            input {
                width: 50%;
            }
        }

        .app-login-container-footer {}
    }
}
