


<div class="container text-danger">
  <div class="row">
    <div class="col p-2 m-2 border border-danger d-flex justify-content-around">
      <p>
        this website is heavily under construction. Please check out later (at least on the 4. march 2018, when we use it at barcamp heilbronn).
      </p>
    </div>
  </div>
</div>

<div class="container text-light">
  <div class="row">
    <div class="col-sm">
      <h1>wtf is imfuc?</h1>
      <p>
        IMFUC is a simple but versatile game about code and movies.
        You could play it for yourself or with a crowd. You could use it
        as a funny way for the first interaction with code for someone.
        You could use it to choose the right employee for your company.
      </p>
      <p>
        Or you could use it just for fun!
      </p>
    </div>
    <div class="col-sm">
      <h2>the rules</h2>
      <p>
        Its pretty simple. You will see some code. The code referes in any kind
        to a movie. The game is to find the right movie to the displayed code.
        Kind of like jeopardy. But very different.
      </p>
      <p>
        You can play imfuc against each other. In this case, one person or team
        got 20 seconds to find the right movie. If they make it, they will earn 5 points. If they dont, the other team
        got 10 seconds to get 4 points. If no team will find the right movie withhin the 30 seconds, they get a hint.
        Every hint will cost 1 point until 0 points are left. In this case no one will get a point, the answer will be shown
        and we can go to the next question. Its that simple.
      </p>
    </div>
    <div class="col-sm">
      <h2>who made this</h2>
      <p>
        IMFUC was created by some software-devs from code for heilbronn during a discussion about tree shaking in javascript.
        Someone said something and they stopped the discussion to start writing code using quotes from movies.
        Thats it.
      </p>
    </div>
  </div>
</div>