<div class="app-login-backdrop">
    <div class="app-login-container p-4 pt-5 pb-5 form-inline">

        <div class="app-login-container-header mb-3">
            <img src="" />
        </div>
        <div class="app-login-container-body mb-3">
            <div class="form-group mb-1">
                <label for="username" class="">Benutzername</label>
                <input type="text" class="form-control form-control-sm ml-auto " id="username" name="username" [(ngModel)]="username" aria-describedby="Benutzername"
                    required>
            </div>
            <div class="form-group">
                <label for="password" class="">Passwort</label>
                <input type="password" class="form-control form-control-sm ml-auto" id="password" name="password" [(ngModel)]="password"
                    aria-describedby="Passwort" required>
            </div>
        </div>
        <div class="app-login-container-footer">
            <button type="submit" class="btn btn-primary btn-block btn-sm" [routerLink]="['/dashboard']">Anmelden</button>
            <button type="button" class="btn btn-link btn-block btn-sm">Passwort vergessen?</button>
        </div>
    </div>
</div>