

<h1>Meine Anlieferungen</h1>
<div class="list-group">

  <a href="#" 
     *ngFor="let shipping of shippings"
     class="list-group-item list-group-item-action flex-column align-items-start" >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{shipping.From | date : 'dd.MM.yy'}} - {{ shipping.Bay }}</h5>
      <small>{{ shipping.Productgroup }}</small>
    </div>
    <p class="mb-1">Von: {{ shipping.From | date : 'hh:mm' }} bis {{ shipping.To | date : 'hh:mm' }} Uhr</p>
    <small>{{ shipping.Slots.length }} Slots</small>
  </a>

</div>
